certifi (2017.11.5)
chardet (3.0.4)
Django (1.11.4)
django-cors-headers (2.1.0)
django-widget-tweaks (1.4.1)
djangorestframework (3.7.3)
idna (2.6)
MySQL-python (1.2.5)
pip (9.0.1)
pymongo (3.5.1)
pytz (2017.2)
requests (2.18.4)
setuptools (36.3.0)
urllib3 (1.22)
wheel (0.29.0)
