{% extends 'analyst/base_site.html' %}
{% load custom_tags %}

{% block content %}

<div class="right_col">
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Action Plans</h2>
            </div>
            <div class="x_content">
                <table class="table split-table">
                    <thead>
                        <tr>
                            <th>Plan ID</th>
                        </tr>
                        <tr>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}