{% extends 'analyst/base_site.html' %}
{% load custom_tags %}

{% block page_stylesheets %}
<style text="text/css">
    /* plz determine if should go into our own css or if remain separate */
    .panel_toolbox
    {
        min-width: 24px;
    }
</style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDacnVEtNIWnbMCw_QI94kynm0_ytIalQ&callback=initMap"
  type="text/javascript"></script>

<script type="text/javascript">
    {% if assigned_crisis %}
        //JSON Fucking up.
        var crisis = {{ True|jsonify }}
    {% else %}
        //JSON Fucking up.
        var crisis = {{ False|jsonify }}
    {% endif %}
    $(document).ready(function(){
        if(!crisis) {
            //reload page if no crisis every 5 seconds
            //window.setTimeout('location.reload(true);',5000);
        }
    });
    function initMap(){
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 12,
          center: new google.maps.LatLng(1.3521, 103.8198),
          mapTypeId: 'roadmap'
        });
        var markers;
        var icon_loc = '../static/images/map/'
        var icons = {
            Terrorism: icon_loc + "Terrorism.png",
            Bombing:icon_loc + "Bombing.png",
            Riot: icon_loc + "Riot.png",
            Fire: icon_loc + "Fire.png"
        };

        {% if crisis_reports %}
            {% for crisis in crisis_reports%}

                var cent = new google.maps.LatLng({{crisis.latitude}},{{crisis.longitude}});
                var radius = {{ crisis.radius }};

                var image = {
                  url: icons['{{ crisis.crisisType }}'],
                  //size: new google.maps.Size(100, 100),
                  // The origin for this image is (0, 0).
                  origin: new google.maps.Point(0, 0),
                  // The anchor with respect to the Lat and Long
                  anchor: new google.maps.Point(30, 30)
                };

                var crisisCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: cent,
                    radius: radius,//in metres (cannot use the loc, wierdly causes the radius to become super big
                });

                var marker = new google.maps.Marker({
                    position: cent,
                    icon: image,
                    map:map
                });
                marker.addListener('click', function() {
                    if($('#{{ crisis.id }}').hasClass("bg-primary"))
                        $('#{{ crisis.id }}').removeClass("bg-primary");
                    else
                        $('#{{ crisis.id }}').addClass("bg-primary").parent().siblings().children().removeClass("bg-primary");

                    setTimeout(function(){
                        $('#{{ crisis.id }}').removeClass("bg-primary");
                    },10000);
                    new PNotify({
                        title: 'Crisis Report Selected',
                        text: 'Check the 911 Reports for more Info!',
                        type: 'info',
                        styling: 'bootstrap3'
                    });
                });
            {% endfor %}
        {% endif %}
    }

    //Recommend using PNotify for notifications from EF or 911. looks good
</script>

{% endblock page_javascripts %}

{% block content %}
<div class="right_col">
    {% if assigned_crisis %}
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Current Statistics</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="animated flipInY col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <div class="count">{{ assigned_crisis.injuries|default:"0" }}</div>
                        <h3>Current Injuries</h3>
                    </div>
                </div>
                <div class="animated flipInY col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-frown-o"></i>
                        </div>
                        <div class="count">{{ assigned_crisis.deaths|default:"0"}}</div>
                        <h3>Current Deaths</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from 911</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.crisisreport_set.all %}
                        <li>
                            <div id="{{ report.id }}" class="block">
                                <div class="block_content">
                                    <h2 class="title">{{ report.description }}</h2>
                                    <div class="byline">
                                        <span>{{ report.datetime }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                            <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from Emergency Forces</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.efupdate_set.all %}
                        <li>
                            <div class="block">
                                <div class="block_content">
                                    <h2 class="title">{{ report.description }}</h2>
                                    <div class="byline">
                                        <span>{{ report.datetime }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                            <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Crisis Map</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="map" class="x_content" style="height:600px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Action Plans</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <br>
            </div>
            <div class="x_content">
                <div>

                </div>
                <form>

                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        NO CRISIS FOUND SOMEONE STYLE THIS SHIT FOR ME
    </div>
    {% endif %}
</div>
{% endblock content %}