{% extends 'analyst/base_site.html' %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block page_stylesheets %}
<style text="text/css">
    /* plz determine if should go into our own css or if remain separate */
    .panel_toolbox
    {
        min-width: 24px;
    }

    #myTab
    {
        margin-bottom: 21px;
        font-size: larger;
    }

    .mail_list h3
    {
        margin-bottom: 0px;
    }

    .mail_list h4
    {
       margin: 0;
       font-weight: bold;
       font-size: 12px;
    }

    .btn-toolbar
    {
        margin-bottom: 10px;
    }

    .accordion .panel-heading
    {
        background: #F2F5F7;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        display: block
    }

    .accordion .panel
    {
        border: 5px solid #FFFFFF;
        background: #fff;
    }


    .accordion .panel:hover
    {
        border: 5px solid #F2F5F7;
        background: #fff;
    }

</style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
<script src="/static/js/analyst.js"></script>
<script type="text/javascript">




    {% if assigned_crisis %}
        //JSON Fucking up.
        var crisis = {{ True|jsonify }}
    {% else %}
        //JSON Fucking up.
        var crisis = {{ False|jsonify }}
    {% endif %}
        var forces = {{ json_force|jsonify }}

    $(document).ready(function(){
        //Auto Update After 30 Seconds
        if(crisis)
        {
            setInterval(function()
            {
                checkEfUpdate();
                checkCommentUpdate();
                checkCRUpdate();
                reloadCurrentStat();
                load_agencies();
            }, 5000);
        }
        else
        {
            setTimeout(function(){
                location.reload();
            }, 15000);
        }

         //Add event handler for comment pane
        $('.collapse-link-right').on('click', function () {
            var $BOX_PANEL = $(this).closest('.x_content'),
                $TOGGLE_PANEL = $($(this).attr('id')),
                $OWN_PANEL = $('#own'),
                $ICON = $(this).find('i');

            $ICON.toggleClass("fa-chevron-left fa-chevron-right");
            if($TOGGLE_PANEL.is(":visible")){
                $TOGGLE_PANEL.addClass('fadeOutRight animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $OWN_PANEL.toggleClass('col-sm-9 col-sm-12');
                    $TOGGLE_PANEL.removeClass('fadeOutRight animated');
                    $TOGGLE_PANEL.hide();
                });

            }
            else {
                $OWN_PANEL.toggleClass('col-sm-9 col-sm-12');
                $TOGGLE_PANEL.delay(500).show(0).addClass('fadeInRight animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $TOGGLE_PANEL.removeClass('fadeInRight animated');
                });
            }
        });

        //Add event handler for force deployment form
        $("#btnAddForce").on('click',function(){
            var chosen_force = $("#force-list option:selected").val();
            addforcetab(chosen_force);
        });
    });


    function addforcetab(chosen_force)
    {
                var force_form_template = $("#force_form_template").html();
            if(chosen_force)
            {
                console.log("here");
                data = [{
                    "force_name":  chosen_force,
                    "force_name_display": chosen_force.toUpperCase()
                }];
                var force_form = attachDataToTemplate(force_form_template, data);
                $("#force_panels").append(force_form);
                $("#force-list option[value="+chosen_force+"]").hide();
                $("#force-list :first-child").prop('selected',true);
                $("#panel_" + chosen_force).slideDown();
                $("#panel_" + chosen_force + " .dial").knob({
                    'min':0,
                    'max':50,
                    'angleArc':360
                });
                $("#force_close_" + chosen_force).on('click', function(e){
                    var force = e.target.dataset.delete;
                    $("#panel_"+force).remove();
                    $("#force-list option[value="+force+"]").show();
                });
            }
    }
    //initialize google maps
    function initMap(){
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 12,
          center: new google.maps.LatLng(1.3521, 103.8198),
          mapTypeId: 'roadmap'
        });
        var markers;
        var icon_loc = '../static/images/map/'
        var icons = {
            Hostage: icon_loc + "Terrorism.png",
            Bombing:icon_loc + "Bombing.png",
            Riot: icon_loc + "Riot.png",
            Fire: icon_loc + "Fire.png",
            Hijacking: icon_loc + "Hijacking.png",
            Kidnapping: icon_loc + "Kidnapping.png",
            Natural_Disasters: icon_loc + "NaturalDisaster.png",
            Radiological: icon_loc + "Biohazard.png"
        };

        {% if crisis_reports %}
            {% for crisis in crisis_reports%}

                var cent = new google.maps.LatLng({{crisis.latitude}},{{crisis.longitude}});
                var radius = {{ crisis.radius }};

                var image = {
                  url: icons['{{ crisis.crisisType }}'],
                  //size: new google.maps.Size(100, 100),
                  // The origin for this image is (0, 0).
                  origin: new google.maps.Point(0, 0),
                  // The anchor with respect to the Lat and Long
                  anchor: new google.maps.Point(30, 30)
                };

                var crisisCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: cent,
                    radius: radius,//in metres (cannot use the loc, wierdly causes the radius to become super big
                });

                var marker = new google.maps.Marker({
                    position: cent,
                    icon: image,
                    map:map
                });
                marker.addListener('click', function() {
                    if($('#{{ crisis.id }}').hasClass("bg-primary")){
                        $('#{{ crisis.id }}').removeClass("bg-primary");
                        new PNotify({
                        title: 'Crisis Report Deselected',
                        text: 'Click marker again to reselect the Crisis Report!',
                        type: 'warning',
                        styling: 'bootstrap3'
                        });
                    }

                    else{
                        $('#{{ crisis.id }}').addClass("bg-primary").parent().siblings().children().removeClass("bg-primary");
                        new PNotify({
                        title: 'Crisis Report Selected',
                        text: 'Check the 911 Reports for more Info!',
                        type: 'success',
                        styling: 'bootstrap3'
                        });

                    }
                });
            {% endfor %}
        {% endif %}
    }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDacnVEtNIWnbMCw_QI94kynm0_ytIalQ&callback=initMap" type="text/javascript"></script>
{% endblock page_javascripts %}

{% block js_templates %}
<script type="text/html" id="force_form_template">
    <div class="panel" id="panel_<<force_name>>" style="display:none">
        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#force_panel" href="#collapse_<<force_name>>" aria-expanded="true" aria-controls="collapse_<<force_name>>">
            <div class="row">
                <div class="col-xs-11"><p class="panel-title">Force Deployment : <<force_name_display>></p></div>
                <div class="col-xs-1 text-center">
                    <i class="fa fa-close" id="force_close_<<force_name>>" data-delete="<<force_name>>"></i>
                </div>
            </div>
        </a>
        <div id="collapse_<<force_name>>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_<<force_name>>" aria-expanded="true">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1 text-center">
                        <div>
                            <input type="text" class="dial" data-width="40%" name="<<force_count>>-max" value=0>
                        </div>
                        <label for="max_<<force_name>>">Max % to deploy</label>
                    </div>
                    <div class="col-xs-5 text-center">
                        <div>
                            <input type="text" class="dial" data-width="40%" name="<<force_count>>-recommended>" value=0>
                        </div>
                        <label for="recommended_<<force_name>>">Recommended % to deploy</label>
                    </div>
                    <input type="hidden" name="<<force_count>>-name" value="<<force_name>>">
                    <input type="checkbox" name="force_indexes" value="<<force_count>>" style="display:none" checked>
                </div>
            </div>
        </div>
    </div>
</script>
{% endblock js_templates %}


{% block content %}
<div class="right_col">
    {% if assigned_crisis %}
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h1>{{assigned_crisis.crisis_title}}</h1>
                  <input type="hidden" id="hiddenleafvillage" value="{{assigned_crisis.id}}">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="CurrentStatList" class="row">
                     <div class="animated flipInY col-sm-4 col-xs-12">
                         {% if assigned_crisis.status == 'Clean-up' %}
                        <div class="tile-stats alert-info">
                            <div class="icon" style="color: white;">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        {%else%}
                        <div class="tile-stats alert-danger">
                            <div class="icon" style="color: white;">
                                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                            </div>
                            {%endif%}
                            <div class="count">{{ assigned_crisis.get_status_display }}</div>
                            <h3 style="color: white;">Crisis Status</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-sm-4 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="count">{{ assigned_crisis.injuries|default:"0" }}</div>
                            <h3>Current Injuries</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-sm-4 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            </div>
                            <div class="count">{{ assigned_crisis.deaths|default:"0"}}</div>
                            <h3>Current Deaths</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Current Statistics</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-sm-12 col-xs-12">
                                <div class="tile-stats row padding">
                                    <h2 class="center">Current Force Utilisation</h2>
                                    <div class="col-sm-{{sideWidth}}"></div>
                                    {% for force in all_force%}
                                    <div class="animated flipInY center col-sm-{{forceWidth}} col-xs-12 padding">
                                        <div class="chart" data-percent="{{force.currentUtilisation}}">
                                            <div class="percent">{{force.currentUtilisation}}%</div>
                                            <h2 class="center">{{force.name}}</h2>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from 911</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height:400px;overflow-y:scroll;">
                    <ul id="911ReportList" class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.crisisreport_set.all %}
                        <li>
                            <div id="{{ report.id }}" class="block">
                                <div class="block_content">
                                    <h2 class="title">{{ report.description }}</h2>
                                    <div class="byline">
                                        <span>{{ report.datetime }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from Emergency Forces</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height:400px;overflow-y:scroll;">
                    <ul id='EFUpdateList' class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.efupdate_set.all %}
                        {% if report.type == 'Request' %}
                                <li style="border">
                                {% else %}
                                <li>
                                {%endif%}
                                    <div id="efCrisis{{crisis.id}}" class="block">
                                        <div class="block_content">
                                            <h2 class="title">{{assigned_crisis.crisis_title}}</h2>
                                            <div class="byline">
                                                {{report.timefrom}}
                                                {%if report.type == 'Request' %}
                                                <span class="label label-danger">{{ report.type }}</span>
                                                {% else %}
                                                <span class="label label-info">{{ report.type }}</span>
                                                {%endif %}
                                            </div>
                                            <p class="excerpt">{{report.description}}</p>
                                        </div>
                                    </div>
                                </li>
                        {% empty %}
                        <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Crisis Map</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="map" class="x_content" style="height:600px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Action Plans</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <br>
                </div>
                <div class="x_content">
                    <div id="own" class="col-sm-9 col-xs-12 sideBorder" style="height:100%;">
                        <div role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active"><a href="#current" id="current-tab" role="tab" data-toggle="tab" aria-expanded="true">Create Action Plan</a>
                                </li>
                                <li role="presentation" class=""><a href="#previous" role="tab" id="previous-tab" data-toggle="tab" aria-expanded="false">Submitted Action Plans</a>
                                </li>
                                <li>
                                    <a id="#comments" class="collapse-link-right">
                                        Comments
                                        <i class="fa fa-chevron-right right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="current"
                                     aria-labelledby="current-tab">
                                    <form class="form-horizontal" method="POST">
                                        {% csrf_token %}
                                        {{ ActionPlanForm.non_field_errors }}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8">
                                                <div class="row" id="force-adder">
                                                    <div class="col-xs-6">
                                                        <select class="form-control" id="force-list">
                                                            <option selected disabled hidden value>------</option>
                                                            {% for force in all_force %}
                                                            <option value="{{force.name|lower}}">{{force.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <textarea id = "exAngent" rows="4" cols="50">

                                                        </textarea>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <button class="btn btn-info btn-block" type="button"
                                                                id="btnAddForce">Add Force
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- ADD FORCE FORM ERROS HERE -->
                                                <div class="accordion" id="force_panels" role="tablist" aria-multiselectable="true"></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <div class="form-group">
                                                    {% render_label ActionPlanForm.type class="control-label" content="Plan Type:"%}
                                                    {% render_field ActionPlanForm.type class="form-control" %}
                                                    {{ ActionPlanForm.type.errors }}
                                                </div>
                                                <div class="form-group">
                                                    {% render_label ActionPlanForm.projected_casualties class="control-label" %}
                                                    {% render_field ActionPlanForm.projected_casualties class="form-control" value=0 %}
                                                    {{ ActionPlanForm.projected_casualties.errors }}
                                                </div>
                                                <div class="form-group">
                                                    {% render_label ActionPlanForm.duration_type class="control-label" %}
                                                    {% render_field ActionPlanForm.duration_type class="form-control" %}
                                                </div>
                                                <div class="form-group">
                                                    {% render_label ActionPlanForm.duration_count class="control-label" %}
                                                    {% render_field ActionPlanForm.duration_count class="form-control"value=0 %}
                                                </div>
                                                {{ ActionPlanForm.duration_type.errors }}
                                                {{ ActionPlanForm.duration_count.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {% render_label ActionPlanForm.description class="control-label" %}
                                            {% render_field ActionPlanForm.description class="form-control" rows=20 %}
                                            {{ ActionPlanForm.description.errors }}
                                        </div>
                                        <button type="submit" class="btn btn-save" name="submitType" value="Save">Save
                                            Action Plan
                                        </button>
                                        <button type="submit" class="btn btn-success" name="submitType" value="Submit">
                                            Submit Action Plan
                                        </button>
                                        <button id='generateAPBtn'class="btn btn-info" style="float:right" onclick="generateAP({{assigned_crisis.id}});return false;"> Generate Action Plan</button>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="previous" aria-labelledby="previous-tab">
                                    {% include 'analyst/ui_components/action_plan_table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="comments" class="col-sm-3 col-xs-12">
                        <div class="profile_title">
                            <div class="col-sm-12 col-xs-12 right-col">
                                <h2><i class="fa fa-comments"></i>Comments</h2>
                            </div>
                        </div>
                        <div class="x_content">
                            <div id="commentList" class="mail_list_column">
                                {% for actionPlan in ActionPlanList %}
                                {% if actionPlan.comment %}
                                <div class="mail_list">
                                    <div style="padding-left: 1em;">
                                        <h3>{{actionPlan.comment.get_author_display}}</h3>
                                        <div>
                                            <p class="small"><span style="float:left">Plan Number:{{ actionPlan.plan_number }}</span><br><span style="font-style:italic; color:darkgrey;">{{actionPlan.comment.timefrom}}</span></p>
                                        </div>
                                        <p>{{actionPlan.comment.text}}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <!--Error-->
    <div class="row">
        <br>

        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-11 "></div>

            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <h1><b>&nbsp;&nbsp; <span class="fa fa-smile-o" aria-hidden="true"></span></b></h1>
            </div>


        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-8 "></div>
            <div class="col-md-4 col-sm-4 col-xs-6 ">
                <h4>There isn't an ongoing crisis here.
                    <span class="blue glyphicon glyphicon-search" aria-hidden="true"></span>
                </h4>
                <h4>&nbsp;&nbsp;&nbsp;Singapore is free from crisis :).
                </h4>
            </div>
        </div>
        <br><br>


    </div>
    {% endif %}
</div>
{% endblock content %}