{% extends 'operator/base_site.html' %}

{% block title %} Index {% endblock title %}

{% block page_stylesheets %}

<!-- Added for Operator Table Testing -->


<style type="text/css">
       .table-wrapper {
           background: #fff;
           padding: 20px;
           margin: 30px 0;
           box-shadow: 0 1px 1px rgba(0,0,0,.05);
       }
       .table-title {
           padding-bottom: 10px;
           margin: 0 0 10px;
       }
       .table-title h2 {
           margin: 8px 0 0;
           font-size: 22px;
       }
       .search-box {
           position: relative;
           float: right;
       }
       .search-box input {
           height: 34px;
           border-radius: 20px;
           padding-left: 35px;
           border-color: #ddd;
           box-shadow: none;
       }
       .search-box input:focus {
           border-color: #3FBAE4;
       }
       .search-box i {
           color: #a0a5b1;
           position: absolute;
           font-size: 19px;
           top: 8px;
           left: 10px;
       }
       table.table tr th, table.table tr td {
           border-color: #e9e9e9;
       }
       table.table-striped tbody tr:nth-of-type(odd) {
           background-color: #fcfcfc;
       }
       table.table-striped.table-hover tbody tr:hover {
           background: #f5f5f5;
       }
       table.table th i {
           font-size: 13px;
           margin: 0 5px;
           cursor: pointer;
       }
       table.table td:last-child {
           width: 130px;
       }
       table.table td a {
           color: #a0a5b1;
           display: inline-block;
           margin: 0 5px;
       }
       table.table td a.view {
           color: #03A9F4;
       }
       table.table td a.edit {
           color: #FFC107;
       }
       table.table td a.delete {
           color: #E34724;
       }
       table.table td i {
           font-size: 19px;
       }
       .pagination {
           float: right;
           margin: 0 0 5px;
       }
       .pagination li a {
           border: none;
           font-size: 95%;
           width: 30px;
           height: 30px;
           color: #999;
           margin: 0 2px;
           line-height: 30px;
           border-radius: 30px !important;
           text-align: center;
           padding: 0;
       }
       .pagination li a:hover {
           color: #666;
       }
       .pagination li.active a {
           background: #03A9F4;
       }
       .pagination li.active a:hover {
           background: #0397d6;
       }
       .pagination li.disabled i {
           color: #ccc;
       }
       .pagination li i {
           font-size: 16px;
           padding-top: 6px
       }
       .hint-text {
           float: left;
           margin-top: 6px;
           font-size: 95%;
       }
</style>


{% endblock page_stylesheets %}


{% block content %}
<!-- Do not display this at the moment

 <div style="float: right; width: 80%">Following are to get everything in CrisisReport<br>
    {% for getall in getallcrisis %}
        <a href="">{{getall}}</a><br>
    {% endfor %}

 </div>

 <div class="col-md-12 col-sm-12 col-xs-12">

-->


<div class="clearfix"></div>




<div class="right_col">

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="x_panel">
      <div class="x_title">
        <h2>Crisis Allocation List <small>: Crisis - Analyst</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">

        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th>
                  <div class="icheckbox_flat-green" style="position: relative;">
                      <input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                  </div>
                </th>
                <th class="column-title">ID </th>
                <th class="column-title">Type </th>
                <th class="column-title">Analyst </th>
                <th class="column-title no-link last"><span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                  <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
              </tr>
            </thead>

            <tbody>
                {% for allo in getAllocationList %}
                  <tr class="even pointer">
                    <td class="a-center ">
                      <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </td>
                    <td class=" ">{{allo.pk}}</td>
                    <td class=" ">{{allo.crisistypes.name}}</td>
                    <td class="a-right a-right ">{{allo.analyst}}</td>
                     <!-- Do not display this at the moment
                    <td class=" last"><a href={{allcrisis.pk}}>View</a>
                    -->
                    <td class=" last">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".view-allo"
                              data-id={{allo.pk}} data-name={{allo.crisistypes.name}} data-ana={{allo.analyst}} >View</button>


                    </td>

                    </td>
                  </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>


<div class="modal fade view-allo" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Crisis</h4>
            <h4 class="modal-title edit-id" id="myModalLabel2">data-id</h4>
        </div>
        <div class="modal-body edit-name">
          <h4>Crisis stuffs</h4>
          <p>edit-des</p>

        </div>
          <h4 class="modal-title edit-ana" > lat </h4>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>

      </div>
    </div>
  </div>


{% endblock content %}

{% block page_scripts %}


  <script>
        $('.view-allo').on('show.bs.modal', function(e) {

            var $modal = $(this),
                crisisId = e.relatedTarget.dataset.id;
                crisisName = e.relatedTarget.dataset.name;
                crisisAna = e.relatedTarget.dataset.ana;

                $modal.find('.edit-id').html(crisisId);
                $modal.find('.edit-name').html(crisisName);
                $modal.find('.edit-ana').html(crisisAna);


        })
    </script>


{% endblock page_scripts %}

