{% extends 'operator/base_site.html' %}

{% block title %} Index {% endblock title %}

{% block page_stylesheets %}

<!-- Added for Operator Table Testing -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style type="text/css">
       .table-wrapper {
           background: #fff;
           padding: 20px;
           margin: 30px 0;
           box-shadow: 0 1px 1px rgba(0,0,0,.05);
       }
       .table-title {
           padding-bottom: 10px;
           margin: 0 0 10px;
       }
       .table-title h2 {
           margin: 8px 0 0;
           font-size: 22px;
       }
       .search-box {
           position: relative;
           float: right;
       }
       .search-box input {
           height: 34px;
           border-radius: 20px;
           padding-left: 35px;
           border-color: #ddd;
           box-shadow: none;
       }
       .search-box input:focus {
           border-color: #3FBAE4;
       }
       .search-box i {
           color: #a0a5b1;
           position: absolute;
           font-size: 19px;
           top: 8px;
           left: 10px;
       }
       table.table tr th, table.table tr td {
           border-color: #e9e9e9;
       }
       table.table-striped tbody tr:nth-of-type(odd) {
           background-color: #fcfcfc;
       }
       table.table-striped.table-hover tbody tr:hover {
           background: #f5f5f5;
       }
       table.table th i {
           font-size: 13px;
           margin: 0 5px;
           cursor: pointer;
       }
       table.table td:last-child {
           width: 130px;
       }
       table.table td a {
           color: #a0a5b1;
           display: inline-block;
           margin: 0 5px;
       }
       table.table td a.view {
           color: #03A9F4;
       }
       table.table td a.edit {
           color: #FFC107;
       }
       table.table td a.delete {
           color: #E34724;
       }
       table.table td i {
           font-size: 19px;
       }
       .pagination {
           float: right;
           margin: 0 0 5px;
       }
       .pagination li a {
           border: none;
           font-size: 95%;
           width: 30px;
           height: 30px;
           color: #999;
           margin: 0 2px;
           line-height: 30px;
           border-radius: 30px !important;
           text-align: center;
           padding: 0;
       }
       .pagination li a:hover {
           color: #666;
       }
       .pagination li.active a {
           background: #03A9F4;
       }
       .pagination li.active a:hover {
           background: #0397d6;
       }
       .pagination li.disabled i {
           color: #ccc;
       }
       .pagination li i {
           font-size: 16px;
           padding-top: 6px
       }
       .hint-text {
           float: left;
           margin-top: 6px;
           font-size: 95%;
       }
</style>
{% endblock page_stylesheets %}



{% block content %}
<!-- Do not display this at the moment

 <div style="float: right; width: 80%">Following are to get everything in CrisisReport<br>
    {% for getall in getallcrisis %}
        <a href="">{{getall}}</a><br>
    {% endfor %}

 </div>
-->
        <form id="test" method = "POST">
           {% csrf_token %}

<!-- Start of Report  -->
<div class="right_col ">

    <div class="sales report x_title col-md-10 col-sm-10 col-xs-18">
        <h2><i class="fa fa-spinner"></i> Crisis Report</h2>

        <div class="clearfix"></div>
    </div>

    <!-- Start of Table  -->
    <div class="col-md-10 col-sm-10 col-xs-18 gutter">

        <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>


                    </th>
                    <th class="column-title">ID </th>
                    <th class="column-title">Crisis </th>
                    <th class="column-title">Crisis Types </th>
                    <th class="column-title">Description </th>
                    <th class="column-title">Latitude </th>
                    <th class="column-title">Longitude </th>
                    <th class="column-title">DateTime </th>

                  </tr>
                </thead>

                <tbody>
                    {% for allcrisis in getallcrisis %}
                      <tr class="even pointer">
                        <td class="a-center ">
                          <!--
                            <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                        -->
                            <input type="checkbox" name="crisisSelector" value="{{allcrisis.pk}}"><br>
                        </td>
                        <td class=" "><span class="label label-default">{{allcrisis.pk}}</span></td>
                        <td class=" "><span class="label label-danger">{{allcrisis.crisis.pk}}</span></td>
                        <td class=" "><span class="label label-warning">{{allcrisis.crisisType}}</span></td>
                        <td class=" ">{{allcrisis.description}} </td>
                        <td class=" ">{{allcrisis.latitude}}</td>
                        <td class=" ">{{allcrisis.longitude}}</td>
                        <td class="a-right a-right ">{{allcrisis.datetime}}</td>

                      </tr>
                    {%endfor%}
                </tbody>
              </table>
                <!--
                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                -->
            </div>


        </div>

            <label>Select Crisis type to attend to this case:</label>
            <br/>
                 {% for crisistype in getallcrisistype %}
                     <input type="radio" name="crisistypeT" value="{{crisistype.id}}" checked="checked"> {{crisistype.name}}<br>
                           <input id="hiddenid" name="hiddenid" type="hidden" value="{{crisistype.id}}">
                {%endfor%}
            <br/>
            <input type = "submit" onclick="success()"/>
        </form>

           <div id="map" style="height: 400px;"></div>

    </div>
    <!-- End of table  -->

</div>



<!-- End of Report  -->




{% endblock content %}

{% block page_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmx9R5y25qpehDO_3D2x7UO1VOJ8LmvyM"></script>
<script>
        function InitializeMap() {

            {%for allcrisis in getallcrisis%}
            var lati = {{allcrisis.latitude}};
            var long = {{allcrisis.longitude}};
            {%endfor%}

            var currentloc = { lat: lati, lng: long};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: currentloc
            });
            var marker = new google.maps.Marker({
                position: currentloc,
                map: map
            });
        }
        function success(){
            alert("Assign Successful");
        }

          //  window.onload = InitializeMap();
</script>

     <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock page_scripts %}

