{% extends 'chief/base_site.html' %}
{% load custom_tags %}

{% block page_stylesheets %}
<style text="text/css">
    /* plz determine if should go into our own css or if remain separate */
    .panel_toolbox
    {
        min-width: 24px;
    }
    input.chk-btn {
        display: none;
    }
    input.chk-btn + label {
        border: 1px solid grey;
        background: ghoswhite;
        padding: 5px 8px;
        cursor: pointer;
        border-radius: 5px;

    }
    input.chk-btn:not(:checked) + label:hover {
        box-shadow: 0px 1px 3px;

    }
    input.chk-btn + label:active,
    input.chk-btn:checked + label {
        box-shadow: 0px 0px 3px inset;
        background: #8cc472;

    }
</style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
<!-- For Firebase -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
    // This will be generated in the firebase console
    var config = {
        apiKey: "AIzaSyCGfibas_wVxOWSR-uqewBTLtYdcbwW37k",
        authDomain: "testapp-f3e73.firebaseapp.com",
        databaseURL: "https://testapp-f3e73.firebaseio.com",
        projectId: "testapp-f3e73",
        storageBucket: "testapp-f3e73.appspot.com",
        messagingSenderId: "300550730836"
    };
    firebase.initializeApp(config);
</script>
<script src="/static/js/firebaseapp.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

<script type="text/javascript">
    {% if assigned_crisis %}
    //JSON Fucking up.
    var crisis = {{ True|jsonify }}
    {% else %}
    //JSON Fucking up.
    var crisis = {{ False|jsonify }}
    {% endif %}
    $(document).ready(function(){
        $('.ui-pnotify').remove();
    });

    function reload_js(src) {
        $('script[src="' + src + '"]').remove();
        $('<script>').attr('src', src).appendTo('head');
    }
    //reload_js('/static/js/firebaseapp.js');

   function changeFunc($i) {
        //alert($i);

        select_crisischat($i);
        reload_js('/static/js/firebaseapp.js');
   }


    //----------------------------------------------------------------------------------------------------------------------------

    var markers = [], circles = [];
    // start out with filter features set to false, so no filtering happens by default
    var filters = {'Clean-up':false, Combat:false}
    $(function () {
        $('input[name=filter]').change(function (e) {

            map_filter(this.id);
            filter_markers()
        });
    })

    var get_set_options = function() {
        ret_array = []
        for (option in filters) {
            if (filters[option]) {
                ret_array.push(option)
            }
        }
        return ret_array;
    }
    var filter_markers = function() {
        set_filters = get_set_options()

        // for each marker, check to see if all required options are set
        for (i = 0; i < markers.length; i++) {
            marker = markers[i][0];
            circle = circles[i]

            // start the filter check assuming the marker will be displayed
            // if any of the required features are missing, set 'keep' to false
            // to discard this marker
            keep=false;
            // console.log(checkNoFilter());
            if(!checkNoFilter()){
                for (opt=0; opt<set_filters.length; opt++) {

                    if (marker.properties == set_filters[opt]) {
                        keep = true;
                    }
                }
            }
            else {
                keep = true;
            }
            //console.log("keep is equal to: "+keep);
            marker.setVisible(keep);
            circle.setVisible(keep);
        }
    }
    //Check if there are not filters (set filters to true)
    var checkNoFilter = function(){
        for(filter in filters)
        {
            if(filters[filter]==true)
                return false;
        }
        return true;
    }
    var map_filter = function(id_val) {
        var text;
        if (filters[id_val]){
            filters[id_val] = false;
            if(checkNoFilter())
                text = "Map has currently no filters!";
            else
                text = "Map is no longer being filtered by "+id_val+" Crisis!";
        }
        else{
            filters[id_val] = true;
            text = "Map is being filtered by "+id_val+" Crisis!";
        }

        new PNotify({
            title: 'Map Filters',
            text: text,
            type: 'info',
            styling: 'bootstrap3'
        });
    }



    //----------------------------------------------------------------------------------------------------------------------------

    var initMap = function(){
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 12,
            center: new google.maps.LatLng(1.3521, 103.8198),
            mapTypeId: 'roadmap'
        });
        // var markers;
        var icon_loc = '../static/images/map/'
        var icons = {
            Terrorism: icon_loc + "Terrorism.png",
            Bombing:icon_loc + "Bombing.png",
            Riot: icon_loc + "Riot.png",
            Fire: icon_loc + "Fire.png"
        };

        {% if all_crisis %}
        {% for crisis in all_crisis%}
        {% for report in crisis.crisisreport_set.all %}
        var lat = {{report.latitude}}, long = {{report.longitude}};
        var cent = new google.maps.LatLng(lat,long);
        var radius = {{ report.radius }};


        var image = {
            url: icons['{{ report.crisisType }}'],
            //size: new google.maps.Size(100, 100),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor with respect to the Lat and Long
            anchor: new google.maps.Point(30, 30)
        };

        var crisisCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: cent,
            radius: radius,//in metres (cannot use the loc, wierdly causes the radius to become super big
        });
        circles.push(crisisCircle);

        var marker = new google.maps.Marker({
            position: cent,
            icon: image,
            map:map,
            properties: '{{crisis.status}}'
        });
        var markerInfo = "<div><h3> Crisis " + "{{crisis.id}}" + "</h3>Status: " + "{{crisis.status}}" + "</div>"
        marker.addListener('click', function() {
            new PNotify({
                title: 'Crisis {{ crisis.id }}',
                text: '{{report.description}}',
                type: 'info',
                tag: 'map',
                styling: 'bootstrap3'
            });
        });
        markers.push([marker,{{crisis.id}}]);
        {% endfor %}
        {% endfor %}
        {% endif %}
    }
    //Recommend using PNotify for notifications from EF or 911. looks good
    var randomColorFactor = function() {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function(opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    };

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDacnVEtNIWnbMCw_QI94kynm0_ytIalQ&callback=initMap"
        type="text/javascript"></script>
{% endblock page_javascripts %}

{% block content %}
<div class="right_col">
    {% if all_crisis %}
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Current Statistics</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-sm-12 col-xs-12">
                    <div class="tile-stats row padding">
                        <h2 class="center">Current Force Utilisation</h2>
                        <div class="col-sm-1"></div>
                        {% for force in all_force%}
                        <div class="animated flipInY col-sm-2 col-xs-12 padding">
                            <div class="chart" data-percent="{{force.currentUtilisation}}">
                                <div class ="percent">{{force.currentUtilisation}}%</div>
                                <h2 class="center">{{force.name}}</h2>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from 911</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.crisisreport_set.all %}
                        <li>
                            <div id="{{ report.id }}" class="block">
                                <div class="block_content">
                                    <h2 class="title">{{ report.description }}</h2>
                                    <div class="byline">
                                        <span>{{ report.datetime }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                            <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Reports from Emergency Forces</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline widget">
                        {% for report in assigned_crisis.efupdate_set.all %}
                        <li>
                            <div class="block">
                                <div class="block_content">
                                    <h2 class="title">{{ report.description }}</h2>
                                    <div class="byline">
                                        <span>{{ report.datetime }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                            <span>No Reports Yet</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Crisis Map</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <label>Filter For:</label>

                <div id="buttons">

                    <input type="checkbox" name="filter" id="Clean-up" class='chk-btn'>
                    <label for='Clean-up'>Clean-up</label>

                    <input type="checkbox" name="filter" id="Combat" class='chk-btn'>
                    <label for='Combat'>Ongoing</label>
                    <br>
                </div>
                <div id="map" class="x_content" style="height:600px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Action Plans</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <br>
                </div>
                <div class="x_content">
                    <div id="own" class="col-sm-9 col-xs-12 sideBorder" style="height:100%;">
                        <div role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active"><a href="#allCrisis" id="current-tab" role="tab" data-toggle="tab" aria-expanded="true">All Unresolved Crisis</a>
                                </li>
                                <li role="presentation" class=""><a href="#actionPlanTable" role="tab" id="previous-tab" data-toggle="tab" aria-expanded="false">Action Plans Awaiting Approval</a>
                                </li>
                                <li>
                                    <a id="#chat" class="collapse-link-right">
                                        Chat
                                        <i class="fa fa-chevron-right right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div id="allCrisis" role="tabpanel" class="tab-pane fade active in" aria-labelledby="current-tab">
                                    {% include 'chief/ui_components/all_crisis.html' %}
                                </div>
                                <div id="actionPlanTable" role="tabpanel" class="tab-pane fade" aria-labelledby="previous-tab">
                                    {% include 'chief/ui_components/action_plan_table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chat" class="col-sm-3 col-xs-12">
                        <div class="profile_title">
                            <div class="col-sm-12 col-xs-12 right-col">
                                <h2><i class="fa fa-comments"></i>  Chat</h2>
                            </div>
                        </div>

                        <div id = "updatechat">
                            <div ng-app="chatApp" class="x_content">

                                <body ng-controller="ChatController">
                                    <br>
                                    <div class="container">
                                        <div class="panel panel-primary">
                                            <!--
                                            <div class="panel-heading">Web Based Firebase Chat Application</div>
                                            -->
                                            <div class="panel-body">
                                                {% verbatim %}
                                                <p ng-repeat="m in messages">{{m.date | date:'short'}} - {{m.sender}}: {{m.message}}</p>
                                                <div class="form-group">
                                                    <input id='msgBox' type="text" class="form-control" placeholder="Message here..." ng-model="messageText">
                                                </div>

                                                <button id="msgSendBtn" type="submit" class="btn btn-default" ng-click="send()">Send</button>

                                                {% endverbatim %}

                                                <select id="selectBox" ng-model="crisisID" onchange="changeFunc(value);">
                                                    {% for crisis in all_crisis %}
                                                        <option value= {{crisis.id}} >Crisis {{crisis.id}}</option>
                                                    {%endfor%}
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </body>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="row">

    </div>
    {% endif %}
</div>
{% endblock content %}